<ion-view view-title="Login">
	<ion-content style="height: 100%; width: 100%; background-color: #393B3D">
		<div>
			
			<div style="text-align: center; margin-top: 30%; margin-bottom: 15%">
				<img src="img/ionic.png">
			</div>

			<div>
				<div class="list list-inset" style="margin: 0% 10%">
					<form>
						<label class="item item-input">
							<input type="text" placeholder="Matric Number" ng-model="userData.matric_no"></input>
						</label>
						<label class="item item-input">
							<input type="password" placeholder="Password" ng-model="userData.password"></input>
						</label>
						<label class="item item-input">
							<input type="password" placeholder="Repeat Password" ng-model="userData.repeat"></input>
						</label>
						<label class="item">
                    		<button class="button button-block button-positive" ng-click="register()">Register</button>
                		</label
					</form>
				</div>
			</div>

			<div style="text-align: center; margin-top: 10%">
				<a style="text-decoration: none" href="#/login">Back to Login</a>
			</div>

		</div>
	</ion-content>
</ion-view>
